@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif;
}

body{
    font-size: 20px;
    background-color: #2b2f4b;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

/* estilização do navbar */
nav{
    max-width: 100%;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #222238;
    top: 0; /* faz o navbar descer com a página */
    position: sticky; /* faz o navbar descer com a página */
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

/* animação dos links */
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

/* customização do botão */
.botton{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botton:hover{
    background-color: #1d4ed8;
}

.container{
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
}

/* estilização do header */
header{
    position: relative;
    padding-top: 2rem;
    display: grid; /* alinha em grade*/
    grid-template-columns: repeat(2,1fr); /* costomiza a grade */
    align-items: center;
    gap: 13rem;
    background-color: #2b2f4b;
    width: 100%;
    height: 80vh;
}

/* estilização do h1 */
header .content h1{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

/* estilização do p */
header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

/* estilização da imagem */
header .image{
    position: relative;
}

/* estilização do circulo envolta da imagem */
header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

/* estilização da imagem */
header .image img{
    max-width: 600px;
    margin: auto;
}

header #particles{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

header .scroll{
    position: absolute;
    bottom: 0%;
    left: 50%;
    color:#fff;
    transform: translate(0, -50%);
    transition: all 0.5s;
}

header .scroll:hover{
    opacity: 0.7;
}

header .scroll::before{
    position: absolute;
    top: -14px;
    left: -12px;
    z-index: -1;
    content: ""; /* animação */
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    animation: pulse 3s infinite;
}

/* animação do botão scroll */
@Keyframes pulse {
    0%, 100%{
        opacity: 0;
    }
    15%, 45%{
        opacity: 1;
    }
    60%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}

/* customização de habilidades */
.skills{
    padding: 110px 85px 0;
}

.skills h3,
.about h3,
.portfolio .header h3,
.feedback h3{
    font-size: 40px;
    margin-top: 20px;
    color: #fff;
}

h5{
    color: #fff;
}

.skills .skill-items{
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.skills .skill-items .item{
    background-color: #ebebf3;
    color: #1f243d;
    border-radius: 15px;
    width: 25%;
    padding: 30px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skills .skill-items .item:hover{
    border-bottom: 4px solid #1d4ed8;
}

.skills .skill-items .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f243d;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item .icon i{
    font-size: 26px;
    color: #fff;
}

.skills .skill-items .item h4,
.portfolio .portfo-items .item .info h4{
    font-size: 18px;
}

.skills .skill-items .item p{
    margin-top: 20px;
    font-size: 17px;
    line-height: 22px;
    color: #1c1353;
}
/* fim estilização habilidades */

/* incio estilização do Sobre */
.about{
    padding: 110px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.about .left img{
    width: 440px;
    border-radius: 15px 15px 5px 5px;
}

.about .right p{
    font-size: 20px;
    margin-top: 30px;
    color: #fff;
}

.portfolio{
    background-color: #222238;
    padding: 110px 85px;
}

.portfolio .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.portfolio .header button{
    background-color: #1d4ed8;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    border: none;
    border-radius: 10px;
    
}

.portfolio .header button link{
    text-decoration: none;
}

.portfolio .header button i {
    font-size: 26px;
}

.portfolio .portfo-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .portfo-items .item{
    width: 30%;
    background-color: #ebebf3;
    border-radius: 15px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.3 ease;
}

.portfolio .portfo-items .item:hover{
    border-color: #1d4ed8;
}

.portfolio .portfo-items .item img{
    width: 100%;
    height: 240px;
    object-fit: cover; /* centraliza a imagem no meio */
    object-position: top;
    border-radius: 10px 10px 20px;
}